#menu
{

	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #A52A2A; /* Green background */
	list-style-type: none;
	font-style: italic;
	font-weight: bolder;
}

#menu li{
	border-radius: 100%;
	margin: 0 10px 10px 100px;
  background: #F1F1F1;
  display:inline-block;
  line-height:25px;
	text-align:center;
	padding:12px
}

section {
	width: 100%;
	background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}

div{
	margin: 0 0 0 25px;
  display:inline-block;
}
